nav i.xl{
    font-size: 3rem;
}

.btn-carrito{
    display: flex;
    align-items: center;
    border-radius: 50%; 
    border-color: rgb(255, 255, 255); 
    margin-right: 2rem;
    border-style: solid;
    color: white;
    cursor: pointer;
}

.carrito{
    display: flex;
}

div.carrito button.p{
    font-size: 5px;
}
.totalItems{
    border-radius: 100%;
    background-color:rgb(230, 0, 230);
    border-style: solid;
    border-width: 0.1rem;
    padding: 0rem 0.4rem;
    font-size: 1rem;
}