.ItemListContainer{
    background-color: #21bd35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding: 2rem;
    width: 100%;
    height: auto;
}
