nav .nav-wrapper{
    height: 7rem;
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
}

nav .nav-wrapper ul a{
    font-size: larger;
}

a.brand-logo{
    position: relative;
    margin-top: 1rem;
}

nav a img{
    padding-left: 1em;
}

.App-header{
    z-index: 1000000;
}