nav .nav-wrapper{
    height: 7rem;
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
}

nav ul a{
    display: inline !important;
    flex-direction: row;
    font-size: larger;
}

nav ul a:hover{
    color:yellow;  
}

a.brand-logo{
    position: relative;
    margin-top: 1rem;
}

nav a img{
    padding-left: 1em;
}

.App-header{
    z-index: 1000000;
}

nav ul a.active{
    background-color: yellowgreen;
    border-radius: 0.5rem;
}