nav .nav-wrapper{
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(58, 131, 40);
    color: whitesmoke;
}


nav ul{
    display: flex;
    flex-direction: row;
    font-size: large;
    color: whitesmoke;
}

nav ul a{
    display: flex;
    flex-direction: row;
    font-size: larger;
    color: whitesmoke;
    margin-left: 4rem;
}


nav ul a:hover{
    color:yellow;  
}

a.brand-logo{
    position: relative;
    margin-top: 1rem;
}

nav a img{
    padding-left: 1em;
}

.App-header{
    z-index: 1000000;
}

nav ul a.active{
    color: yellow;
}