body{
  background-color: #21bd35;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  position:fixed;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Principal{
  background-color: #21bd35;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  height:auto;
  padding-top: 9rem;
  padding-left: 1rem;
}



