.itemCount{
    display: flex;
    align-items: center;
}

.inputCant{
    width: 4rem;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}










