.itemCount{
    display: flex;
    align-items: center;
}

.inputCant{
    width: 5rem;
    color: black; 
    font-size: 0.7rem;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}










