div.description.detail{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ItemDetailtContainer{
    background-color: #21bd35;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding: 2rem;
    margin-top: 7rem;
    width: 100%;
    height: auto;
}
